@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Pixelify+Sans:wght@400..700&display=swap');

div.personal_contacts_div_style
{
    margin-top: 10vmin;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-self: center;
    width: 90%;
    height: 99vh;
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(11, 11, 11));
    background-image: -o-linear-gradient(to right, rgb(0, 0, 0), rgb(11, 11, 11));
    background-image: -moz-linear-gradient(to right, rgb(0, 0, 0), rgb(11, 11, 11));
    background-image: -webkit-linear-gradient(to right, rgb(0, 0, 0), rgb(11, 11, 11));
}

div.contacts_div_style
{
    left: 50%;
    display: flex;
    flex-direction: column;
    align-content: center;
    transform: translate(-50%);
    position: relative;
    width: 100%;
}

div.contact_unit_style
{
    display: flex;
    text-align: start;
    flex-direction: row;
    margin-top: calc(1vmin + 35px);
    width: 100%;
}

div.contact_classifier_div_style_container
{
    width: 15%;
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-content: flex-end;
    justify-items: flex-end;
}

div.contact_classifier_value_div_style
{
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-content: flex-start;
    justify-items: flex-start;
    width: 85%;
}

div.contact_classifier_div_style
{
    width: calc(1vmin + 50px);
    height: calc(1vmin + 50px);
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: transparent;
    text-shadow: 0 0 1px rgb(0, 0, 0);
    border-radius: calc(1vmin + 1px);
    align-self: flex-end;
    justify-self: flex-end;
    align-content: center;
    justify-content: center;
    background-image: linear-gradient(to right, orange, orange);
    background-image: -o-linear-gradient(to right, orange, orange);
    background-image: -moz-linear-gradient(to right, orange, orange);
    background-image: -webkit-linear-gradient(to right, orange, orange);
    box-shadow: 0px 5px 10px 0px rgba(207, 16, 16, 0.5)
}

img.contacts_img_style
{
    width: calc(1vmin + 40px);
    height: calc(1vmin + 40px);
    align-self: center;
}

p.contact_classifier_value_style
{
    margin: 0px 0px 0px 30px;
    word-break: break-all;
    align-self: center;
    justify-self: center;
    font-size: calc(1vmin + 15px);
    font-family: "Pixelify Sans", sans-serif;
    color: transparent;
    text-shadow: 0 0 1px rgba(255, 136, 0, 1);
}

a.contact_link_style
{
    color: transparent;
    text-shadow: 0 0 1px rgba(255, 136, 0, 1);
    text-decoration: underline;
}