img.matrix_img_style
{
    position: fixed;
    max-width: 100%;
    height: 100vmax;
    content: url("https://miro.medium.com/v2/resize:fit:1400/1*Mcd984kSkoPRy-b9s6gA2g.gif");
    opacity: 5%;
}


img.profile_image_style
{
    align-self: center;
    border-radius: 30vmin;
    height: 23vmin;
    width: 23vmin;
}


div.profile_div_style
{
    left: 50%;
    display: flex;
    flex-direction: column;
    align-content: center;
    transform: translate(-50%);
    position: relative;
    width: 100%;
}

div.profile_picture_div_style
{
    display: flex;
    align-self: center;
    justify-self: center;
    align-content: center;
    background-image: linear-gradient(to right, rgb(21, 8, 0), rgb(39, 20, 1));
    border-radius: 30vmin;
    height: 23vmin;
    width: 23vmin;
}

div.profile_picture_frame_style
{
    margin-top: 13vmin;
    display: flex;
    align-self: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-image: linear-gradient(to right, rgba(135, 65, 0, 0.387), rgb(74, 31, 0));
    border-radius: 32vmin;
    height: 25vmin;
    width: 25vmin;
}

div.name_div_style
{
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    justify-content: center;
}

div.personal_bio_div_style
{
    margin-top: 10vmin;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-self: center;
    width: 95%;
    height: 90vh;
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(11, 11, 11));
}


div.technologies_div_style
{
    margin-top: 5vmin;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
}

div.value_unit_style
{
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: flex-start;
    justify-items: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
}


div.technology_classifier_div_value_style
{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 3vmin;
    color: transparent;
    text-shadow: 0 0 1px rgb(0, 0, 0);
    height: 3vmin;
    border-radius: 5vmin;
    align-self: flex-start;
    justify-self: flex-start;
    background-image: linear-gradient(to right, orange, orange);
    box-shadow: 0px 5px 10px 0px rgba(207, 16, 16, 0.5)
}

div.technology_classifier_div_value_style_container
{
    width: 100%;
    height: 4vmin;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: flex-start;
    justify-items: flex-start;
}

p.name_style
{
    align-self: center;
    justify-self: center;
    font-size: 4vmin;
    font-family: 'Courier New', Courier, monospace;
    color: transparent;
    text-shadow: 0 0 1px rgba(255, 136, 0, 1);
}

p.technology_classifier_value_style
{
    width: 40%;
    align-self: center;
    justify-self: center;
    font-size: 3vmin;
    font-family: 'Courier New', Courier, monospace;
    color: transparent;
    text-shadow: 0 0 1px rgba(255, 136, 0, 1);
}

p.technology_subtitle_style
{
    margin-top: 10vmin;
    align-self: center;
    justify-self: center;
    font-size: 4vmin;
    font-family: 'Courier New', Courier, monospace;
    color: transparent;
    text-shadow: 0 0 1px rgba(255, 136, 0, 1);
}