@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Pixelify+Sans:wght@400..700&display=swap');

body.main_body_style {
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(to right, #020202,rgb(56, 56, 56));
    background-image: -o-linear-gradient(to right, #020202,rgb(56, 56, 56));
    background-image: -moz-linear-gradient(to right, #020202,rgb(56, 56, 56));
    background-image: -webkit-linear-gradient(to right, #020202,rgb(56, 56, 56));
}

div.background_image {
    position: absolute;
    z-index: 0;
    background-image: url("../Images/background.webp");
    opacity: 0.4;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

div.terminal-element {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    align-self: center;
    background-color:  rgba(24, 24, 24, 0.8);
    opacity: 0.9;
    overflow-y: auto;
    overflow-x: hidden;
}


  /* width */
  div.terminal-element::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  div.terminal-element::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10000px rgb(46, 46, 46); 
    border-radius: 0px;
  }
   
  /* Handle */
  div.terminal-element::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  div.terminal-element::-webkit-scrollbar-thumb:hover {
    background: white; 
  }

div.terminal-handle {
    display: grid;
    background-color: rgb(46, 46, 46);
    grid-template-columns: repeat(3, 1fr);
    top: 0px;
    margin: 0px;
    width: 100%;
    height: 38px;
}

div.terminal-skeleton {
    margin-top: 100px;
    width: 85vw;
    min-width: 435px;
    align-self: center;
    display: flex;
    flex-direction: column;
}

div.terminal {
    min-width: 435px;
    align-self: center;
}

div.main_page_div_style
{
    width: 100%;
    height: 99vh;
}

div.page_content_style
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

div.items_container_style
{
    width: 100%;
    margin-top: 3vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.menu_label_container_style
{
    transform: translate(-3vmin);
    z-index: 4;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    text-align: center;
    background-color:rgb(0, 0, 0);
    border-radius: 1.5vmin;
    height:calc(1px + 9vmin);
}

div.personal_details_div_style
{
    margin-top: 8vmin;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-self: center;
    width: 95%;
    height: 93vh;
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(11, 11, 11));
    background-image: -o-linear-gradient(to right, rgb(0, 0, 0), rgb(11, 11, 11));
    background-image: -moz-linear-gradient(to right, rgb(0, 0, 0), rgb(11, 11, 11));
    background-image: -webkit-linear-gradient(to right, rgb(0, 0, 0), rgb(11, 11, 11));
}


button.menu_item_style
{
    align-self: center;
    margin-top: 1.2vmin;
    margin-bottom: 2vmin;
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(66, 24, 1));
    background-image: -o-linear-gradient(to right, rgb(0, 0, 0), rgb(66, 24, 1));
    background-image: -moz-linear-gradient(to right, rgb(0, 0, 0), rgb(66, 24, 1));
    background-image: -webkit-linear-gradient(to right, rgb(0, 0, 0), rgb(66, 24, 1));
    border-radius: 1.5vmin;
    border-width: 0px;
    border-color: rgb(108, 108, 108);
    color: rgb(167, 78, 0);
    width: calc(1px + 3vmin + 20vmin);
    height: 0vmin;
    visibility: hidden;
    font-family: 'Courier New', Courier, monospace;
    font-size: 4vmin;
}



button.menu_item_style:hover
{
    color: rgb(247, 153, 1);
    border-color: rgb(247, 153, 1);
}


div.crt_div_screen_style
{
    display: flex;
    align-self: center;
    justify-content: center;
    align-content: center;
    width: 98%;
    height: 91vh;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(17, 17, 17));
    background-image: -o-linear-gradient(to right, rgb(0, 0, 0), rgb(17, 17, 17));
    background-image: -moz-linear-gradient(to right, rgb(0, 0, 0), rgb(17, 17, 17));
    background-image: -webkit-linear-gradient(to right, rgb(0, 0, 0), rgb(17, 17, 17));
}


div.crt_div_style
{
    align-self: center;
    justify-self: center;
    width: 98%;
    height:98%;
    background-image: url("https://i.gifer.com/7LOt.gif");
    background-repeat: no-repeat;
    background-size:cover;
}

div.crt_content_div_style
{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    overflow-y: auto;
    overflow-x: auto;
    width: 100%;
    height:100%;
    background-image: url(../Images/screen_filter.png);
    background-repeat: no-repeat;
    background-size:cover;
}


article.article_style
{
    margin-top: 2vmin;
    opacity: 100%;
    max-width:95%;
    align-self: center;
    justify-self:flex-start;
    font-size: calc(1vmin + 15px);
    font-family: "Pixelify Sans", sans-serif;
    color: transparent;
    text-shadow: 0 0 0.5px rgba(255, 136, 0, 1); 
}

font.font_init
{
    font-size: calc(1vmin + 15px);
    font-family: "Pixelify Sans", sans-serif;
    color: transparent;
    text-shadow: 0 0 0.3px rgb(255, 196, 0); 
}

a.link_style
{
    color: transparent;
    text-shadow: 0 0 1px rgb(251, 209, 59); 
    text-decoration: underline;
}

h1.page_title_style
{
    margin-top: 6vmin;
    left: 50%;
    height: 8vmin;
    z-index: 3;
    transform: translate(-50%);
    position: fixed;
    align-self: center;
    font-size: 4.5vmin;
    color: transparent;
    font-weight: 200;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 0 0 1px rgba(255, 136, 0, 1);
}

.navbar-element
{
    color: #fd8631;
    font-size: "22px";
    font-family: "JetBrains Mono", monospace;
}