div.project_div_style
{
    left: 50%;
    display: flex;
    flex-direction: column;
    align-content: center;
    transform: translate(-50%);
    position: relative;
    width: 100%;
}

div.small_non_adjustable_image_container_style
{
    margin-top: 5vmin;
    position: relative;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 50vmin;
    width: 40%;
    border-radius: 3vmin;
    background-image: linear-gradient(to right, rgb(149, 77, 6), rgb(82, 41, 3));
    background-image: -o-linear-gradient(to right, rgb(149, 77, 6), rgb(82, 41, 3));
    background-image: -moz-linear-gradient(to right, rgb(149, 77, 6), rgb(82, 41, 3));
    background-image: -webkit-linear-gradient(to right, rgb(149, 77, 6), rgb(82, 41, 3));
}

div.project_name_container_style
{
    align-self: center;
    text-align: center;
}

div.project_article_div_style
{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: start;
    align-self: center;
    margin-top: 1vmin;
    margin-bottom: 5vmin;
    border-radius: 3vmin;
    margin-left: 1vmin;
    margin-right: 1vmin;
    width: 95%;
}

div.personal_project_div_style
{
    margin-top: 10vmin;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-self: center;
    width: 80%;
    height: 95vh;
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(11, 11, 11));
}

div.code_snippet_div_style
{
    display: flex;
    align-content: center;
    justify-content: center;
    align-self: center;
    box-shadow: 0px 5px 10px 0px rgba(207, 16, 16, 0.5);
    overflow-x: auto;
    overflow-y: auto;
}

img.small_adjustable_image
{
    margin-top: 2vmin;
    margin-bottom: 2vmin;
    border-radius: calc(1vmin + 10px);
    width: calc(1vmin + 500px);
    max-width: 95%;
    align-self: center;
    justify-self: center;
    box-shadow: 0px 5px 10px 0px rgba(207, 16, 16, 0.5);
}

img.large_adjustable_image
{
    margin-top: 3vmin;
    margin-bottom: 3vmin;
    border-radius: calc(1vmin + 10px);
    align-self: center;
    width: calc(1vmin + 1200px);
    max-width: 95%;
    box-shadow: 0px 5px 10px 0px rgba(207, 16, 16, 0.5);
}

h1.project_name_style
{
    margin-left: 1vmin;
    max-width: 95%;
    word-wrap: break-word;
    margin-top: 5vmin;
    align-self: center;
    justify-self: center;
    font-size: calc(1vmin + 40px);
    font-family: "JetBrains Mono", monospace;
    color: transparent;
    text-shadow: 0 0 1px rgba(255, 136, 0, 1);
}

h2.project_sub_title_style
{
    max-width: 95%;
    word-wrap: break-word;
    margin-top: 5vmin;
    align-self: center;
    justify-self:flex-start;
    font-size: calc(1vmin + 30px);
    font-family: "JetBrains Mono", monospace;
    color: transparent;
    text-shadow: 0 0 1px rgba(255, 136, 0, 1);
}

article.project_article_style
{
    word-wrap: break-word;
    max-width: 95%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5vmin;
    margin-bottom: 5vmin;
    opacity: 100%;
    max-width:90%;
    align-self: center;
    justify-self:flex-start;
    font-size: calc(1vmin + 18px);
    font-family: "JetBrains Mono", monospace;
    color: transparent;
    text-shadow: 0 0 1px rgba(255, 136, 0, 1); 
}

font.bold_project_article_section_style
{
    word-wrap: break-word;
    align-self: center;
    justify-self:flex-start;
    font-weight: bold;
    font-size: calc(1vmin + 18px);
    font-family: "JetBrains Mono", monospace;
    color: transparent;
    text-shadow: 0 0 1px rgb(255, 153, 0); 
}