div.personal_projects_div_style
{
    margin-top: 10vmin;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-self: center;
    width: 90%;
    height: 90vh;
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(11, 11, 11));
    background-image: -o-linear-gradient(to right, rgb(0, 0, 0), rgb(11, 11, 11));
    background-image: -moz-linear-gradient(to right, rgb(0, 0, 0), rgb(11, 11, 11));
    background-image: -webkit-linear-gradient(to right, rgb(0, 0, 0), rgb(11, 11, 11));
}

button.projects_unit_style
{
    text-align: start;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 5vmin;
    border-radius: 5vmin;
    background-image: linear-gradient(to right, orange, orange);
    background-image: -o-linear-gradient(to right, orange, orange);
    background-image: -moz-linear-gradient(to right, orange, orange);
    background-image: -webkit-linear-gradient(to right, orange, orange);
    box-shadow: 0px 5px 10px 0px rgba(207, 16, 16, 0.5);
    border-color: rgb(144, 143, 143);
    border-width: 1.5px;
    width: 90%;
}

button.projects_unit_style:hover
{
    border-color: rgb(222, 220, 220);
}

div.projects_classifier_div_style_container
{
    width: 30%;
    height: 40vmin;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
}


h1.project_classifier_title_value_style
{
    width: 90%;
    word-wrap: break-word;
    align-self: center;
    margin: 0px;
    font-size: 3.5vmin;
    font-family: 'Courier New', Courier, monospace;
    color: transparent;
    text-shadow: 0 0 1px rgb(0, 0, 0);
}

p.project_classifier_value_style
{
    margin-left: 5vmin;
    word-wrap: break-word;
    width: 90%;
    align-self: flex-start;
    justify-self: flex-start;
    font-size: 3vmin;
    font-family: 'Courier New', Courier, monospace;
    color: transparent;
    text-shadow: 0 0 1px rgb(0, 0, 0);
}