img.matrix_img_style
{
    position: fixed;
    width: 100%;
    opacity: 70%;
}


img.profile_image_style
{
    border-radius: 30vmin;
    height: 30vmin;
    width: 30vmin;
}


div.profile_div_style
{
    left: 50%;
    display: flex;
    flex-direction: column;
    align-content: center;
    transform: translate(-50%);
    position: relative;
    width: 100px;
    height: 10000px;
}

div.profile_picture_div_style
{
    margin-top: 10vmin;
    display: flex;
    align-self: center;
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(19, 24, 19));
    border-radius: 20vmin;
    height: 30vmin;
    width: 30vmin;
}