body.main_body_style
{
    margin:  0px;
    padding: 0px;
    background-image: linear-gradient(to right, rgb(46, 19, 0) ,black);
}

div.main_page_div_style
{
    width: 100%;
    height: 99vh;
}

div.navigation_bar_style
{
    width: 100%;
    background-image: linear-gradient(to right, rgb(87, 31, 1), rgb(57, 22, 1));
    z-index: 3;
    display: flex;
    flex-direction: row;
    position: fixed;
}


div.main_menu_div_style
{
    z-index: 3;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

div.main_menu_controls_div_style
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    position: relative;
}

div.main_menu_div_items_style
{
    z-index: 2;
    border-radius: 2vmin;
    margin-top: calc(1px + 10vmin);
    margin-left: 1vmin;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    background-image: linear-gradient(to right, rgb(95, 34, 1), rgb(0, 0, 0));
    width: calc(1px + 8vmin + 22vmin);
    height: 0vmin;
    visibility: hidden;
    position: fixed;
    /*height: 35vmin;*/
}

div.items_container_style
{
    width: 100%;
    margin-top: 3vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.menu_label_container_style
{
    transform: translate(-3vmin);
    z-index: 4;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    text-align: center;
    background-color:rgb(0, 0, 0);
    border-radius: 1.5vmin;
    height:calc(1px + 11vmin);
}

button.main_menu_button_style
{
    z-index: 5;
    display: flex;
    align-self: flex-start;
    justify-content: center;
    width: calc(1px + 11vmin);
    height: calc(1px + 11vmin);
    background-image: linear-gradient(to right, rgb(95, 34, 1), rgb(0, 0, 0));
    border-width: 0px;
    border-radius: 1.5vmin;
    border-color: transparent;
}

button.menu_item_style
{
    align-self: center;
    margin-top: 1.2vmin;
    margin-bottom: 2vmin;
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(66, 24, 1));
    border-radius: 1.5vmin;
    border-width: 0px;
    border-color: rgb(108, 108, 108);
    color: rgb(167, 78, 0);;
    width: calc(1px + 6vmin + 20vmin);
    /* height: 5vmin; */
    height: 0vmin;
    visibility: hidden;
    font-family: 'Courier New', Courier, monospace;
    font-size: 4.5vmin;
}

button.menu_item_style:hover
{
    color: rgb(209, 207, 207);
    border-color: rgb(209, 207, 207);
}

img.main_menu_button_img_style
{
    margin: 0px;
    padding: 0px;
    align-self: center;
    border-width: 1px;
    border-color: black;
    border-radius: calc(1px + 7vmin);
    width: calc(1px + 6vmin);
    height: calc(1px + 6vmin);
    background-color: rgb(207, 135, 1);
}


div.crt_div_screen_style
{
    display: flex;
    align-self: center;
    justify-content: center;
    align-content: center;
    width: 98%;
    height: 90vh;
    background-color: linear-gradient(to right, rgb(0, 0, 0), rgb(17, 17, 17));
}


div.crt_div_style
{
    align-self: center;
    justify-self: center;
    width: 98%;
    height:98%;
    background-image: url("https://i.gifer.com/7LOt.gif");
    background-repeat: no-repeat;
    background-size:cover;
}

div.crt_content_div_style
{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    overflow-y: auto;
    overflow-x: auto;
    width: 100%;
    height:100%;
    background-image: url(screen_filter.png);
    background-repeat: no-repeat;
    background-size:cover;
}


article.article_style
{
    margin-top: 5vmin;
    opacity: 100%;
    max-width:95%;
    align-self: center;
    justify-self:flex-start;
    font-size: 4vmin;
    font-family: 'Courier New', Courier, monospace;
    color: transparent;
    text-shadow: 0 0 1px rgba(255, 136, 0, 1); 
}

font.font_init
{
    color: transparent;
    text-shadow: 0 0 1px rgb(192, 192, 192); 
}

a.link_style
{
    color: transparent;
    text-shadow: 0 0 1px rgb(251, 209, 59); 
    text-decoration: underline;
}

h1.page_title_style
{
    margin-top: 8vmin;
    left: 50%;
    height: 10vmin;
    z-index: 3;
    transform: translate(-50%);
    position: fixed;
    align-self: center;
    font-size: 5vmin;
    color: transparent;
    font-weight: 200;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 0 0 1px rgba(255, 136, 0, 1);
}

p.menu_label_style
{
    /* width: 25vmin; */
    align-self: center;
    justify-self: center;
    width: 0vmin;
    visibility: hidden;
    color: transparent;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 0 0 1px rgba(255, 136, 0, 1);
    margin: 0px;
    padding: 0px;
    font-size: 6vmin;
}